.photographer_mediaList {
  display: grid;
  justify-content: center;
  @include breakpoint(tablet) {
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: 373px;
    justify-content: start;
    grid-gap: 2rem;
    margin-bottom: 4rem;
  }
}
