.modal_form {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
  &-content {
    position: relative;
    height: 100%;
    animation-name: modalopen;
    animation-duration: 0.8s;
    background: $color-tertiary;
    border-radius: $border-radius;
    overflow: hidden;
    color: black;
    padding: 15px;
    @include breakpoint(tablet) {
      margin: 5% auto;
      max-width: 30rem;
      max-height: 900px;
      padding: 35px;
      padding-top: 10px;
      height: 720px;
    }
    h1 {
      @include font-heading-2;
      @include breakpoint(tablet) {
        font-size: 40px;
        margin: 1rem 0;
      }
    }
  }

  &-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    border-style: none;
    background-color: transparent;
    @include breakpoint(tablet) {
      top: 35px;
      right: 35px;
    }
    img {
      width: 0.8rem;
      @include breakpoint(tablet) {
        width: 1.8rem;
      }
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
