.btn {
  outline: none;
  cursor: pointer;
  border-style: none;

  &-primary {
    @include font-body-large;
    padding: 23px 18px;
    border-radius: $border-radius;
    color: $color-white;
    background-color: $color-primary;
    &:hover,
    &:focus {
      color: $color-dark-black;
      background-color: $color-tertiary;
    }
  }

  &-tag {
    @include font-body-small;
    height: 22px;
    border: 0.5px solid $color-border;
    border-radius: $border-radius-soft;
    color: $color-primary;
    background-color: $color-white;
    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-tertiary;
    }
    &--active {
      color: $color-white;
      background-color: $color-primary;
    }
  }

  &-disabled {
    cursor: not-allowed !important;
    span {
      color: lightgray !important;
    }
  }

  &-sticky {
    @include font-body-large;
    font-size: 14px;
    display: none;
    position: fixed;
    left: 50%;
    top: 0.7rem;
    transform: translate(-50%, 0);
    padding: 0.5rem;
    border-radius: $border-radius;
    background-color: $color-tertiary;
    a {
      color: black;
    }

    @include breakpoint(desktop) {
      font-size: $base-fontSize;
      padding: 0.5rem 1rem;
    }
  }
}
