.photographer_carousel {
  height: calc(100vh - 64px);
  // height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @include breakpoint(tablet) {
    margin-top: 4rem;
  }

  .slide {
    position: absolute;
    width: 100%;
    transition: transform 1s;
    top: 50%;

    &_mediaContainer {
      display: flex;
      flex-direction: column;
      height: 100%;
      p {
        @include font-heading-3;
        color: $color-primary;
        margin-left: 3.3rem;
        @include breakpoint(tablet) {
          text-align: center;
          margin: 0;
        }
      }
    }

    img,
    video {
      width: calc(100vw - 7rem);
      margin: auto;
      object-fit: contain;
      @include breakpoint(tablet) {
        height: calc(100vh - 8rem);
      }
    }
  }

  &_btn {
    position: absolute;
    z-index: 10;
    border: none;
    background: transparent;
    cursor: pointer;
    span {
      font-size: 1.5rem;
      color: $color-primary;
      @include breakpoint(tablet) {
        font-size: 3rem;
      }
    }
    img {
      width: 1rem;
      @include breakpoint(tablet) {
        width: 2rem;
      }
    }
    &--previous {
      left: 0;
      top: 50%;
      @include breakpoint(tablet) {
        left: 50px;
      }
    }

    &--next {
      right: 0;
      top: 50%;

      @include breakpoint(tablet) {
        right: 50px;
      }
    }

    &--close {
      right: 0;
      top: 20%;
      @include breakpoint(tablet) {
        top: 2%;
        right: 50px;
      }
    }
  }
}
