.photographer_mediaCard {
  figure {
    width: 335px;
    margin: 0;
  }

  .linkImg {
    display: flex;
  }

  &-media {
    max-width: 335px;
    max-height: 190px;
    object-fit: cover;
    width: 100%;
    height: 190px;
    border-radius: $border-radius;
    cursor: pointer;
  }
  figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      @include font-body;
      color: $color-primary;
      @include breakpoint(tablet) {
        @include font-heading-3;
      }
    }
  }
  &-like {
    display: flex;
    align-items: center;
    p {
      @include font-body;
      color: $color-primary;
      margin-right: 0.5rem;
      @include breakpoint(tablet) {
        @include font-heading-3;
        margin-right: 0.5rem;
      }
    }
    i {
      cursor: pointer;
      color: $color-primary;
      font-size: 0.8rem;
      @include breakpoint(tablet) {
        font-size: 1.4rem;
      }
    }
  }

  @include breakpoint(desktop) {
    figure {
      width: 350px;
    }
    &-media {
      max-width: 350px;
      max-height: 300px;
      height: 300px;
    }
  }
}
