.portrait {
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  border-radius: $border-radius-extraSoft;
  box-shadow: 1px 4px 9px rgb(0 0 0 / 25%);

  &-responsive {
    width: 6rem;
    height: 6rem;
    @include breakpoint(tablet) {
      width: 13rem;
      height: 13rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
