html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 43px 20px;
  @include breakpoint(desktop) {
    margin: 43px 100px;
  }
}

* {
  box-sizing: border-box;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0.2rem 0;
}