html,
body {
  margin: auto;
  max-width: 1700px;
  font-family: "DM Sans", sans-serif;
}

body {
  padding: 43px 30px;
  @include breakpoint(tablet) {
    padding: 43px 80px;
  }
}

* {
  box-sizing: border-box;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0.2rem 0;
}

.hide {
  display: none !important;
}

ul {
  list-style: none;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}
