/*************************************/
/*             VARIABLES             */
/*************************************/

$color-white: #fff;

$breakpoints: (
  tablet: 768px,
  desktop: 992px,
  largeScreen:1200px,
);


